@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.navbar{
    width:80px; 
}
.fa {
position: relative;
display: table-cell;
width: 80px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:25px;
}

.maincovid{
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
   
    font-size: 22px;
    font-weight: 600;
}
.maincovid a{
    font-size: .6rem;
    order: 1;
    display: block;
    width:44px;
    padding-bottom: 2rem;
    padding-top: 2rem;
    color: #6c757d;
   position: absolute;
   left: 14px;
   top: 0px;
    word-wrap: break-word;
    text-decoration: none;
}
.maincovid span {
    color: #4c75f2;
    
   
}
.main-menu:hover,nav.main-menu.expanded {
width:365px;
overflow:visible;
}

.main-menu {
background:#f6f6f7;

position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:80px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
z-index:1000;
}


.main-menuul{
    position:absolute;

    top:100px;
left: 4px;
}

.main-menu li {
position:relative;
display:block;
width:359px;


}

.main-menu li>a {
position:relative;
border:'1px solid white';
padding: 60px 0;
font-weight: 600;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#6c757d;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;
  
}
.main-menu li>a:focus{
    color: #4c75f2;}
.main-menu li span:focus{
    color: #4c75f2;
}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:70px;
height:40px;
text-align:center;
vertical-align:middle;

font-size: 22px;
font-weight: 600;
   
}
.nav-h{
    padding-right: 7px;
    color:#6c757d;
    text-align: center;

}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:350px;
font-size: 1.2em;
text-align: start;
padding: 23px 0px;
padding-left: 30px;
color:#6c757d;
  font-family: 'Titillium Web', sans-serif;
}
.main-menu .nav-text:hover{

    background-color:#eee;
    
}
.main-menu .nav-text:focus{
    color:#4c75f2;
    background-color: #6c757d;
    
}


.main-menu>ul.logout {
position:absolute;
left:0;
bottom:30px;

}
.logout a{
    font-weight: 600;

color:#6c757d;
 font-family: arial;
font-size: 14px;

}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
/* .main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
} */
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}