.Home {
    width:95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 20rem;
    margin-right: 5rem;
    margin-top: 90px;
    margin-bottom: 90px;


}

.Home .home-left, .Home .home-right {
    display: flex;
    flex-direction: column;
    width: 30rem;
}
.Home .home-left {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
.Home .home-right {
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}
 .actions {
   display: flex;
   flex-direction: row;
    padding: 1rem;
    justify-content: center;
    align-items: center;
}
 .actions h5 {
    color: #6c757d;
    font-weight: 600;
    margin: 0;
}
 .actions svg {
    color: rgba(108,117,125,.6);
    cursor: pointer;
    stroke-width: 3;
    width: 20px;
}