
.Search {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    position: relative;
    width: 30%;
}

.Search label {
    color: #6c757d;
    font-family: "archia";
    font-size: .75rem;
    margin-bottom: 1rem;
}
.Search .line {
    background: rgba(108,117,125,.0627451);
    height: 1rem;
    width: 2px;
}

.text{
    background: #fff;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 10px 35px rgba(0,0,0,.1);
    color: #6c757d;
    font-family: "archia";
    font-size: 1rem;
    height: 2rem;
    outline: none;
    padding: 1rem 1rem 1rem 3rem;
    transition: all .2s ease-in-out;
   
}